/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
  h1{
    margin-left: 45%;
  }
  .buffer{
    margin-left: 20%;
  }
  input, button{
    
  }